@import url('https://fonts.googleapis.com/css?family=Nunito');
main {
  margin: 50px;
} 
* {
  box-sizing: border-box;
  font-weight: bold;
}
.header {
  height: 40px;
  background: black;
  color: white;
  text-align: center;
  padding-top: 6px;
  margin: 0;
  font-size: 18px;
}
.section_first {
  font-size: 33px;
  font-weight: bold;
}
.header_a {
  color: white;
}
ul {
  float: right;
  margin: 0;
}
img {
  width: 100%;
}
li {
  list-style: none;
  display: inline;
}
.two_section {
  text-align: center;
  padding: 50px;
}
.arrow {
  width: 3%;
  transform: rotate(90deg);
}
.span_two_section {
  font-size: 80px;
  font-weight: bold;
}
.arrow_right {
  float: right;
  width: 3%;
  padding-top: 10px;
}
.foth {
  height: 80px;
  background: #efefef;
}
.foth span {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  padding: 20px;
}
.foth img {
  padding: 20px;
}
.black_ {
  position:relative;
  background:black;
  height:500px;
}
.black_ span {
  color: white;
}
.span_black {
  position: absolute;
  bottom: 20px;
  font-size: 42px;
  left: 20px;
}
.first_black_span {
  font-size: 89px;
  font-weight: bold;
  color: white;
  margin: 36px;
}
.five {
  padding-top: 50px;
}
.arrow_white {
  color: white;
  width: 5%;
  float: right;
  bottom: 20px;
  padding-top: 208px;
  padding-right: 20px;
}
.two_black {
  height: 300px;
  background: black;
  margin-top: 50px;
 }
.six {
  text-align: center;
  font-size: 35px;
}
.footer_span_2 {
  float: right;
}
.footer_span_2, .footer_span_1 {
  font-size: 25px;
}